<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recent Tracks</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">
    <!-- Home Button -->
    <a href="{{ url_for('home') }}" class="home-button">Home</a>

    <h1>Recent Tracks</h1>
    <div class="track-list">
        {% for track in tracks %}
        <div class="track-item">
            <div class="album-cover">
                <img src="{{ track['album_image'] }}" alt="{{ track['album_name'] }}">
            </div>
            <div class="track-info">
                <strong>{{ track['song_name'] }}</strong>
                <em>{{ track['artist'] }}</em>
                <em>{{ track['album_name'] }}</em>
                <p>{{ track['played_at'] }}</p>
                <form action="{{ url_for('play_track') }}" method="POST">
                    <input type="hidden" name="uri" value="{{ track['uri'] }}">
                    <button type="submit" class="track-play-button">Play</button>
                </form>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

</body>
</html>
